{% extends 'index.html' %}
{% load static %}
{% block head %}
   <link rel="stylesheet" href="{% static 'site.css' %}">
{% endblock %}

{% block content %}
    <div class="products">
            {%for new in news%}
                <div class="card" style="width: 100%; margin-top: 20px;">
                    <div class=new-body>
                        <h2 class="card-title">{{ new.text}}</h2>
                        <h5 class="card-price">{{ new.create_date }}</h5>
                        <a href="{{ new.id }}" class="btn-primary">more</a>
                    </div>
                </div>
            {%endfor%}
    </div>
{% endblock %}